################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jobsity.Chatroom/bin/Debug/netcoreapp2.2
/Jobsity.Chatroom/obj
/Jobsity.Chatroom.StockBot/bin/Debug/netcoreapp2.2
/Jobsity.Chatroom.StockBot/obj/Debug/netcoreapp2.2
/Jobsity.Chatroom.StockBot/obj
/Jobsity.Chatroom.Tests/obj
/.vs/Jobsity.Chatroom/v16
/Jobsity.Chatroom.Tests/bin/Debug/netcoreapp3.1
/.vs/Jobsity.Chatroom
